.container {
  position: fixed;
}

.intro {
  display: flex;
  width: 100vw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.logo {
  margin-top: 2rem;
  margin-left: 1rem;

  .button {
    margin-top: 8rem;
    transform: scale(1);
  }
}
